/* You can add global styles to this file, and also import other style files */
.login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 100px;
    background-image: url('https://img.freepik.com/premium-photo/room-with-teddy-bear-toy-car-it_1078797-10040.jpg?semt=ais_se_enriched&w=740&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

body, html {
  height: 100%;
  margin: 0;
}